*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #eee;
	text-decoration: none;
}
a:visited {
	color: #ccc;
}

html,
body {
	min-height: 100vh;
}

body {
	color: #eee;
	background-color: #222;
}

#root {
	min-height: 100vh;
}
